@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <title>Thank You</title>

    <link rel="stylesheet" href="~/Contents/Elegant Bootstrap Pricing Table.css">
    <link href="~/Contents/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Contents/font-awesome.css">
    <link rel="stylesheet" href="~/Contents/bootstrap.js">
    <link rel="stylesheet" href="~/Contents/jquery-3.4.1.slim.js">
    <link rel="stylesheet" href="~/Contents/popper.js">

</head>
<body>
    <section class="pricing-table">
        <div class="logo-img" style="text-align: center;"><img src="~/Contents/Lemlinks.png"></div>
        <div class="container">
            <div class="block-heading text-success">
                <h2 class="text-success">Thanks for your order!</h2>
            </div>
        </div>
    </section>
</body>
</html>